<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Pierwsza Aplikacja</title>
  </head>
  <body>

<h1>Kontakt</h1>
<p>
  W razie potrzeby kontaktu, proszę o e-mail:
  <a href="mailto:kinga.stopa@ex.com">kinga.stopa@ex.com</a>.
</p>
</body>
</html>
